---
layout: layouts/base.liquid
templateClass: tmpl-home
---
<main>
  {{ content }}
</main>
{% if collections.posts.size > 0 %}
<nav>
  <h2>Posts</h2>
  <ul>
    {%- for item in collections.posts -%}
      <li>
        <a href="{{item.url}}">
          {{item.data.title}}
        </a>
      </li>
    {%- endfor -%}
  </ul>
</nav>
{% endif %}
{% if collections.notes.size > 0 %}
<nav>
  <h2>Notes</h2>
  <ul>
    {%- for item in collections.notes -%}
      <li>
        <a href="{{item.url}}">
          {{item.data.title}}
        </a>
      </li>
    {%- endfor -%}
  </ul>
</nav>
{% endif %}
<nav>
  <h2>Past websites</h2>
  <ul>
    {%- for item in pastSites reversed -%}
      <li>
        <a href="{{item.url}}" title="Open the {{item.title}} version of this website">{{item.title}}</a>
      </li>
    {%- endfor -%}
  </ul>
</nav>